/* -- general body styles --------------------------------------------------- */

div.body {
    min-width: 450px;
    max-width: 1920px;
}

div.body p, div.body dd, div.body li, div.body blockquote {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

a.headerlink {
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
    visibility: visible;
}

div.body p.caption {
    text-align: inherit;
}

div.body td {
    text-align: left;
}

.first {
    margin-top: 0 !important;
}

p.rubric {
    margin-top: 30px;
    font-weight: bold;
}

img.align-left, .figure.align-left, object.align-left {
    clear: left;
    float: left;
    margin-right: 1em;
}

img.align-right, .figure.align-right, object.align-right {
    clear: right;
    float: right;
    margin-left: 1em;
}

img.align-center, .figure.align-center, object.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}


/* -- My additions ---------------------------------------------------------- */

div.note {
    color: black;
    border: 2px solid #7a9eec;
    border-right-style: none;
    border-left-style: none;
    padding: 10px 20px 0px 60px;
    background: #e1ecfe url(dialog-note.png) no-repeat 10px 8px;
}
 
div.danger {
    color: black;
    border: 2px solid #fbc2c4;
    border-right-style: none;
    border-left-style: none;
    padding: 10px 20px 0px 60px;
    background: #fbe3e4 url(dialog-note.png) no-repeat 10px 8px;
}
 
div.attention {
    color: black;
    border: 2px solid #ffd324;
    border-right-style: none;
    border-left-style: none;
    padding: 10px 20px 0px 60px;
    background: #fff6bf url(dialog-note.png) no-repeat 10px 8px;
}
 
div.caution {
    color: black;
    border: 2px solid #ffd324;
    border-right-style: none;
    border-left-style: none;
    padding: 10px 20px 0px 60px;
    background: #fff6bf url(dialog-warning.png) no-repeat 10px 8px;
}
 
div.important {
    color: black;
    background: #fbe3e4 url(dialog-seealso.png) no-repeat 10px 8px;
    border: 2px solid #fbc2c4;
    border-left-style: none;
    border-right-style: none;
    padding: 10px 20px 0px 60px;
}

div.seealso {
    color: black;
    background: #fff6bf url(dialog-seealso.png) no-repeat 10px 8px;
    border: 2px solid #ffd324;
    border-left-style: none;
    border-right-style: none;
    padding: 10px 20px 0px 60px;
}

div.hint, div.tip {
    color: black;
    background: #eeffcc url(dialog-topic.png) no-repeat 10px 8px;
    border: 2px solid #aacc99;
    border-left-style: none;
    border-right-style: none;
    padding: 10px 20px 0px 60px;
}

div.warning, div.error {
    color: black;
    background: #fbe3e4 url(dialog-warning.png) no-repeat 10px 8px;
    border: 2px solid #fbc2c4;
    border-right-style: none;
    border-left-style: none;
    padding: 10px 20px 0px 60px;
}
 
p {
    text-align: justify;
    padding-bottom: 5px;
}

h1 {
    background: #fff6bf;
    border: 2px solid #ffd324;
    border-left-style: none;
    border-right-style: none;
    padding: 10px 10px 10px 10px;
    text-align: center; 
}

h2 {
    /* background: #eeffcc; */
    border: 2px solid #aacc99;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    padding: 10px 0px 0px 0px;
    /* text-align: center; */
}

h3 {
    /* background: #eeffcc; */
    border: 1px solid #7a9eec;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    padding: 0;
    /* text-align: center; */
}

h4 {
    background: #eeffcc; 
    /* border: 1px solid #aacc99; */
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    padding: 5px 5px 5px 5px;
    /* text-align: center; */
}

cite {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e1e1e8;
    background: #f7f7f9;
    margin: 0 0 10px;
    padding: 0 5px 0 5px;
    font-size: 13px;
    font-style: italic;
}

.program {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #e1e1e8;
    background: #f7f7f9;
    margin: 0 0 10px;
    padding: 0 5px 0 5px;
    font-size: 13px;
}
